# Trading Data
MetaTrader5

# Web Framework
## Flask Web App Dependencies
Flask
Flask-CORS
Flask-SocketIO
python-socketio
python-engineio

## Additional dependencies for the web app
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
blinker

# Development dependencies
python-dotenv


# Database
# SQLAlchemy
# alembic
# psycopg2-binary
pymongo[srv]

# Authentication & Security
# python-jose
# passlib
# python-dotenv
# bcrypt

# API Development
requests
#httpx
#pydantic

# Testing
#pytest
#pytest-cov
#pytest-mock

# Development Tools
black
Ruff
mypy

# Utilities
python-dateutil
Pillow
pandas
numpy
tqdm

# Plotting
bokeh
matplotlib
mplfinance
plotly

# Documentation
Sphinx
mkdocs

# Task Queue
# celery==5.3.6
# redis==5.0.1

# Monitoring
# sentry-sdk==1.39.1
# prometheus-client==0.19.0
psutil
websocket-client 

# Statistics
scipy